.user1 {
    background: #fcfcff 0% 0% no-repeat;
    box-shadow: 10px 10px 40px #0000000d;
    border-radius: 12px;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 30px;
  }
  
  .my-img {
    max-width: 20%;
    padding-right: 0px;
  }
  
  .my-user-data {
    max-width: 80%;
    padding-right: 0px;
  }
  
  .my-logo {
    border: 5px solid #75d6d1;
    border-radius: 50%;
    text-align: center;
  }
  
  .user-name {
    text-align: left;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -0.02px;
    color: #262a41;
    margin-bottom: 7px;
  }
  
  .user-address {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.02px;
    color: #262a41;
    opacity: 0.69;
    margin-bottom: 0px;
  }
  
  .user-email {
    text-align: left;
    font-size: 13px;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.52;
    margin-top: 12+px;
  }
  
  .arrow-btn {
    background-color: #30bbb5;
    box-shadow: 2px 15px 30px #30bbb574;
    border-radius: 10px;
    padding: 10px 12px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .btn-svg {
    color: #ffffff;
    font-size: 21px;
 
}